[
  {
    "url": "https://api.quotable.io",
    "enabled": true,
    "enable_mock": true,
    "enable_graphql": true,
    "enable_rest": true,
    "generate_path": "/generate-files",
    "graphql_path": "/graphql"
  }
]